Repository Room-In-Us/Room-In-Us-Front, pull requests merged in 2025-03, with the labels that each got.

#72 Feat: 홈화면 레이아웃 일부 수정 및 목록조회 api 연결
  src/features/genre/api/genreAPI.js
  src/features/level/api/levelAPI.js
  src/features/main/model/mokeThemesData.js
  src/features/main/ui/GenreSection.jsx
  src/features/main/ui/HearoSection.jsx
  src/features/main/ui/LevelSection.jsx
  src/features/main/ui/LocationSection.jsx
  src/pages/GenrePage.jsx
  src/pages/MainPage.jsx
  src/shared/components/ContentCard.jsx
  src/shared/components/Header.jsx
  src/shared/components/SearchInput.jsx
  src/shared/utils/dataUtils.js
  src/shared/utils/formatUtils.js
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#75 Feat: 목록 조회 에러 수정 및 기타 수정
  package-lock.json
  package.json
  src/app/API.jsx
  src/features/auth/api/authAPI.js
  src/pages/LoginPage.jsx
  src/shared/components/ContentCard.jsx
  src/shared/components/Header.jsx
  src/shared/components/HeaderProfileModal.jsx
  src/shared/utils/dataUtils.js
  src/shared/utils/formatUtils.js
  vite.config.js
Labels: ✨ Feature, 🐞 BugFix, 📬 API

#77 Feat: 소셜 로그인 구현
  src/app/App.jsx
  src/features/auth/api/authAPI.js
  src/features/auth/ui/AuthCallback.jsx
  src/features/auth/ui/AuthError.jsx
  src/pages/LoginPage.jsx
  src/pages/SignupPage.jsx
Labels: ✨ Feature, 📬 API

#79 Feat: 회원가입 기능 구현
  src/features/auth/api/authAPI.js
  src/features/auth/model/authAtom.jsx
  src/features/auth/ui/AgreeSection.jsx
  src/features/auth/ui/AuthCallback.jsx
  src/features/auth/ui/CompleteSection.jsx
  src/features/auth/ui/NicknameSection.jsx
  src/pages/LoginPage.jsx
  src/pages/SignupPage.jsx
  src/pages/SignupPage1.jsx
  src/shared/assets/images/auth/cuteHappyStar.png
  src/widgets/MainLayOut.jsx
Labels: ✨ Feature, 📬 API

#81 Feat: 콘텐츠 카드 추가 기능 구현
  src/features/main/ui/GenreSection.jsx
  src/features/main/ui/LevelSection.jsx
  src/pages/SignupPage1.jsx
  src/shared/assets/icons/common/awards.svg
  src/shared/assets/icons/common/cautionIcon.svg
  src/shared/components/ContentCard.jsx
  src/shared/utils/dataUtils.js
Labels: ✨ Feature, 🎨 Html&css

#83 Style: 회원가입 페이지 스타일 수정
  src/features/auth/ui/AgreeSection.jsx
  src/features/auth/ui/CompleteSection.jsx
  src/features/auth/ui/NicknameSection.jsx
  src/pages/LoginPage.jsx
  src/pages/SignupPage.jsx
Labels: ✨ Feature, 🎨 Html&css

#84 Feat: 장르 페이지 레이아웃 구현 (#73)
  package-lock.json
  package.json
  src/features/genre/model/genreData.js
  src/features/genre/ui/GenreContentSection.jsx
  src/features/genre/ui/GenreTabSection.jsx
  src/features/location/api/getRegionAPI.js
  src/features/location/api/getZoneAPI.js
  src/features/location/api/getZoneInfoAPI.js
  src/pages/GenrePage.jsx
  src/shared/assets/icons/common/dropdown.svg
  src/shared/assets/icons/common/filterIcon/activelevel.svg
  src/shared/assets/icons/common/filterIcon/check.svg
  src/shared/assets/icons/common/filterIcon/fearlevel.svg
  src/shared/assets/icons/common/filterIcon/level.svg
  src/shared/assets/icons/common/filterIcon/price.svg
  src/shared/assets/icons/common/filterIcon/reset.svg
  src/shared/assets/icons/common/filterIcon/review.svg
  src/shared/assets/icons/common/filterIcon/satisfactionstar.svg
  src/shared/assets/icons/common/filterIcon/selected.svg
  src/shared/assets/icons/common/filterIcon/unselected.svg
  src/shared/assets/icons/common/genreIcon/19+.svg
  src/shared/assets/icons/common/genreIcon/action.svg
  src/shared/assets/icons/common/genreIcon/arcade.svg
  src/shared/assets/icons/common/genreIcon/escape.svg
  src/shared/assets/icons/common/genreIcon/fairytale.svg
  src/shared/assets/icons/common/genreIcon/history.svg
  src/shared/assets/icons/common/genreIcon/others.svg
  src/shared/assets/icons/common/genreIcon/outdoor.svg
  src/shared/assets/icons/common/genreIcon/quest.svg
  src/shared/assets/icons/common/genreIcon/romance.svg
  src/shared/assets/icons/common/genreIcon/sf.svg
  src/shared/assets/icons/common/genreIcon/survival.svg
  src/shared/assets/icons/common/genreIcon/thriller.svg
  src/shared/assets/icons/common/pagenavleft.svg
  src/shared/assets/icons/common/pagenavright.svg
  src/shared/assets/icons/genre/camera.svg
  src/shared/assets/icons/genre/filter.svg
  src/shared/assets/icons/genre/location.svg
  src/shared/assets/icons/genre/movieIcon.svg
  src/shared/assets/icons/genre/satisfaction.svg
  src/shared/assets/icons/level/circleinfo.svg
  src/shared/components/BottomSheet.jsx
  src/shared/components/CustomPagination.jsx
  src/shared/components/filter/FilterStyles.js
  src/shared/components/filter/PeopleFilter.jsx
  src/shared/components/filter/RegionFilter.jsx
  src/shared/components/filter/SortFilter.jsx
  src/shared/hooks/useDropDown.js
  src/shared/utils/filterUtils.js
Labels: ✨ Feature

#87 Feature/#86 홈화면추가기능구현
  src/features/level/api/levelAPI.js
  src/features/main/ui/GenreSection.jsx
  src/features/main/ui/LevelSection.jsx
  src/shared/components/ContentCard.jsx
Labels: ✨ Feature, 📬 API
